WebServicesLoadTests/src/wsdl/documentsUpload.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://exchange.eldermark.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DocumentsUploadEndpointImplService" targetNamespace="http://exchange.eldermark.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://exchange.eldermark.com" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://exchange.eldermark.com">
  <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
  <xs:element name="uploadDocument" type="tns:uploadDocument"/>
  <xs:element name="uploadDocumentResponse" type="tns:uploadDocumentResponse"/>
  <xs:complexType name="uploadDocument">
    <xs:sequence>
      <xs:element name="residentId" type="xs:long"/>
      <xs:element name="fileName" type="xs:string"/>
      <xs:element name="mimeType" type="xs:string"/>
      <xs:element name="data" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="uploadDocumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResidentNotFoundException" type="tns:ResidentNotFoundException"/>
  <xs:complexType name="ResidentNotFoundException">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ResidentNotFoundException">
    <wsdl:part element="tns:ResidentNotFoundException" name="ResidentNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadDocument">
    <wsdl:part element="tns:uploadDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadDocumentResponse">
    <wsdl:part element="tns:uploadDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DocumentsUploadEndpoint">
    <wsdl:operation name="uploadDocument">
      <wsdl:input message="tns:uploadDocument" name="uploadDocument">
    </wsdl:input>
      <wsdl:output message="tns:uploadDocumentResponse" name="uploadDocumentResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ResidentNotFoundException" name="ResidentNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentsUploadEndpointImplServiceSoapBinding" type="tns:DocumentsUploadEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ResidentNotFoundException">
        <soap:fault name="ResidentNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentsUploadEndpointImplService">
    <wsdl:port binding="tns:DocumentsUploadEndpointImplServiceSoapBinding" name="DocumentsUploadEndpointImplPort">
      <soap:address location="https://207.250.113.236:8443/exchange/ws/documentsUpload"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>