WebServicesLoadTests/src/wsdl/documentsDownload.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://exchange.eldermark.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DocumentsDownloadEndpointImplService" targetNamespace="http://exchange.eldermark.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://exchange.eldermark.com" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://exchange.eldermark.com">
  <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
  <xs:element name="downloadDocument" type="tns:downloadDocument"/>
  <xs:element name="downloadDocumentResponse" type="tns:downloadDocumentResponse"/>
  <xs:element name="generateCcd" type="tns:generateCcd"/>
  <xs:element name="generateCcdResponse" type="tns:generateCcdResponse"/>
  <xs:complexType name="downloadDocument">
    <xs:sequence>
      <xs:element name="documentId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadDocumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateCcd">
    <xs:sequence>
      <xs:element name="residentId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateCcdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentNotFoundException" type="tns:DocumentNotFoundException"/>
  <xs:complexType name="DocumentNotFoundException">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="ResidentNotFoundException" type="tns:ResidentNotFoundException"/>
  <xs:complexType name="ResidentNotFoundException">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ResidentNotFoundException">
    <wsdl:part element="tns:ResidentNotFoundException" name="ResidentNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateCcd">
    <wsdl:part element="tns:generateCcd" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateCcdResponse">
    <wsdl:part element="tns:generateCcdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DocumentNotFoundException">
    <wsdl:part element="tns:DocumentNotFoundException" name="DocumentNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadDocument">
    <wsdl:part element="tns:downloadDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadDocumentResponse">
    <wsdl:part element="tns:downloadDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DocumentsDownloadEndpoint">
    <wsdl:operation name="downloadDocument">
      <wsdl:input message="tns:downloadDocument" name="downloadDocument">
    </wsdl:input>
      <wsdl:output message="tns:downloadDocumentResponse" name="downloadDocumentResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DocumentNotFoundException" name="DocumentNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateCcd">
      <wsdl:input message="tns:generateCcd" name="generateCcd">
    </wsdl:input>
      <wsdl:output message="tns:generateCcdResponse" name="generateCcdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ResidentNotFoundException" name="ResidentNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentsDownloadEndpointImplServiceSoapBinding" type="tns:DocumentsDownloadEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="downloadDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="downloadDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DocumentNotFoundException">
        <soap:fault name="DocumentNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateCcd">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="generateCcd">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="generateCcdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ResidentNotFoundException">
        <soap:fault name="ResidentNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentsDownloadEndpointImplService">
    <wsdl:port binding="tns:DocumentsDownloadEndpointImplServiceSoapBinding" name="DocumentsDownloadEndpointImplPort">
      <soap:address location="https://207.250.113.236:8443/exchange/ws/documentsDownload"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>