CONNECTIntegration/src/main/resources/META-INF/wsit-client-documentsDownload.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://app.eldermarkexchange.com/documentsDownload/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  name="DocumentsDownloadEndpointImplService"
                  targetNamespace="http://app.eldermarkexchange.com/documentsDownload/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://app.eldermarkexchange.com/documentsDownload/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://app.eldermarkexchange.com/documentsDownload/">
            <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
            <xs:element name="downloadDocument" type="tns:downloadDocument"/>
            <xs:element name="downloadDocumentResponse" type="tns:downloadDocumentResponse"/>
            <xs:element name="generateCcd" type="tns:generateCcd"/>
            <xs:element name="generateCcdResponse" type="tns:generateCcdResponse"/>
            <xs:element name="generateFacesheet" type="tns:generateFacesheet"/>
            <xs:element name="generateFacesheetResponse" type="tns:generateFacesheetResponse"/>
            <xs:complexType name="generateCcd">
                <xs:sequence>
                    <xs:element name="residentId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="generateCcdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:DocumentRetrieve"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DocumentRetrieve">
                <xs:sequence>
                    <xs:element minOccurs="0" name="documentTitle" type="xs:string"/>
                    <xs:element minOccurs="0" name="mimeType" type="xs:string"/>
                    <xs:element minOccurs="0" name="data" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="documentType" type="tns:DocumentType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="downloadDocument">
                <xs:sequence>
                    <xs:element name="documentId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="downloadDocumentResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:DocumentRetrieve" xmime:expectedContentTypes="application/octet-stream"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="generateFacesheet">
                <xs:sequence>
                    <xs:element name="residentId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="generateFacesheetResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:DocumentRetrieve"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="DocumentType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CCD"/>
                    <xs:enumeration value="CUSTOM"/>
                    <xs:enumeration value="NWHIN"/>
                    <xs:enumeration value="FACESHEET"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="ResidentOptedOutException" type="tns:ResidentOptedOutException"/>
            <xs:complexType name="ResidentOptedOutException">
                <xs:sequence/>
            </xs:complexType>
            <xs:element name="ResidentNotFoundException" type="tns:ResidentNotFoundException"/>
            <xs:complexType name="ResidentNotFoundException">
                <xs:sequence/>
            </xs:complexType>
            <xs:element name="DocumentNotFoundException" type="tns:DocumentNotFoundException"/>
            <xs:complexType name="DocumentNotFoundException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="DocumentNotFoundFault">
        <wsdl:part element="tns:DocumentNotFoundException" name="DocumentNotFoundException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadDocumentResponse">
        <wsdl:part element="tns:downloadDocumentResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadDocument">
        <wsdl:part element="tns:downloadDocument" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ResidentOptedOutFault">
        <wsdl:part element="tns:ResidentOptedOutException" name="ResidentOptedOutException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="generateFacesheetResponse">
        <wsdl:part element="tns:generateFacesheetResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="generateCcd">
        <wsdl:part element="tns:generateCcd" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ResidentNotFoundFault">
        <wsdl:part element="tns:ResidentNotFoundException" name="ResidentNotFoundException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="generateCcdResponse">
        <wsdl:part element="tns:generateCcdResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="generateFacesheet">
        <wsdl:part element="tns:generateFacesheet" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DocumentsDownloadEndpoint">
        <wsdl:operation name="generateCcd">
            <wsdl:input message="tns:generateCcd" name="generateCcd"></wsdl:input>
            <wsdl:output message="tns:generateCcdResponse" name="generateCcdResponse"></wsdl:output>
            <wsdl:fault message="tns:ResidentNotFoundFault" name="ResidentNotFoundFault"></wsdl:fault>
            <wsdl:fault message="tns:ResidentOptedOutFault" name="ResidentOptedOutFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="downloadDocument">
            <wsdl:input message="tns:downloadDocument" name="downloadDocument"></wsdl:input>
            <wsdl:output message="tns:downloadDocumentResponse" name="downloadDocumentResponse"></wsdl:output>
            <wsdl:fault message="tns:ResidentOptedOutFault" name="ResidentOptedOutFault"></wsdl:fault>
            <wsdl:fault message="tns:DocumentNotFoundFault" name="DocumentNotFoundFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generateFacesheet">
            <wsdl:input message="tns:generateFacesheet" name="generateFacesheet"></wsdl:input>
            <wsdl:output message="tns:generateFacesheetResponse" name="generateFacesheetResponse"></wsdl:output>
            <wsdl:fault message="tns:ResidentNotFoundFault" name="ResidentNotFoundFault"></wsdl:fault>
            <wsdl:fault message="tns:ResidentOptedOutFault" name="ResidentOptedOutFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DocumentsDownloadEndpointImplServiceSoapBinding" type="tns:DocumentsDownloadEndpoint">
        <wsp:PolicyReference URI="#ExchangeWSPolicy_UT"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="generateCcd">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="generateCcd">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generateCcdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResidentNotFoundFault">
                <soap:fault name="ResidentNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ResidentOptedOutFault">
                <soap:fault name="ResidentOptedOutFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="downloadDocument">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="downloadDocument">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="downloadDocumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResidentOptedOutFault">
                <soap:fault name="ResidentOptedOutFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DocumentNotFoundFault">
                <soap:fault name="DocumentNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generateFacesheet">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="generateFacesheet">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generateFacesheetResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResidentNotFoundFault">
                <soap:fault name="ResidentNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ResidentOptedOutFault">
                <soap:fault name="ResidentOptedOutFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DocumentsDownloadEndpointImplService">
        <wsdl:port binding="tns:DocumentsDownloadEndpointImplServiceSoapBinding" name="DocumentsDownloadEndpointImplPort">
            <soap:address location="${exchange.url}/ws/documentsDownload"/>
        </wsdl:port>
    </wsdl:service>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="ExchangeWSPolicy_UT">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SupportingTokens>
                <sc:CallbackHandlerConfiguration  xmlns:sc="http://schemas.sun.com/2006/03/wss/client"
                                                  xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" wspp:visibility="private">
                    <sc:CallbackHandler name="usernameHandler" default="${exchange.login}"/>
                    <sc:CallbackHandler name="passwordHandler" default="${exchange.password}"/>
                </sc:CallbackHandlerConfiguration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>