DataSyncFramework/src/main/java/com/scnsoft/eldermark/framework/connector4d/xml4Dconnector/schema/request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="communication">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="authentication">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:short" name="session_id" use="optional"/>
                                <xs:attribute type="xs:string" name="session_key" use="optional"/>
                                <xs:attribute type="xs:string" name="userlogin_name" use="optional"/>
                                <xs:attribute type="xs:string" name="userlogin_password" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sqlrequest">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sql">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="encoding"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="returnvarlist" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="var" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                                        <xs:attribute type="xs:byte" name="num" use="optional"/>
                                                        <xs:attribute type="xs:byte" name="type" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="requestid"/>
                        <xs:attribute type="xs:byte" name="rollbackifproblems" default="0"/>
                        <xs:attribute type="xs:byte" name="version" default="5"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="requestid"/>
            <xs:attribute type="xs:byte" name="version"/>
        </xs:complexType>
    </xs:element>
</xs:schema>