EldermarkExchange/Web/src/main/resources/wsdl/documentsUpload.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://app.eldermarkexchange.com/documentsUpload/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  name="DocumentsUploadEndpointImplService"
                  targetNamespace="http://app.eldermarkexchange.com/documentsUpload/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://app.eldermarkexchange.com/documentsUpload/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://app.eldermarkexchange.com/documentsUpload/">
            <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
            <xs:element name="uploadDocument" type="tns:uploadDocument"/>
            <xs:element name="uploadDocumentResponse" type="tns:uploadDocumentResponse"/>
            <xs:complexType name="uploadDocument">
                <xs:sequence>
                    <xs:element name="residentId" type="xs:long"/>
                    <xs:element name="fileName" type="xs:string"/>
                    <xs:element name="mimeType" type="xs:string"/>
                    <xs:element name="data" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
                    <xs:element name="shareOptions" type="tns:DocumentShareOptions"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DocumentShareOptions">
                <xs:sequence>
                    <xs:element name="isSharedWithAll" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="idOfOrganizationToShareWith" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="uploadDocumentResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ResidentNotFoundException" type="tns:ResidentNotFoundException"/>
            <xs:complexType name="ResidentNotFoundException">
                <xs:sequence/>
            </xs:complexType>
            <xs:element name="DocumentSharePolicyViolation" type="tns:DocumentSharePolicyViolation"/>
            <xs:complexType name="DocumentSharePolicyViolation">
                <xs:sequence/>
            </xs:complexType>
            <xs:element name="ResidentOptedOutException" type="tns:ResidentOptedOutException"/>
            <xs:complexType name="ResidentOptedOutException">
                <xs:sequence/>
            </xs:complexType>
            <xs:element name="OrganizationNotFoundException" type="tns:OrganizationNotFoundException"/>
            <xs:complexType name="OrganizationNotFoundException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadDocument">
        <wsdl:part element="tns:uploadDocument" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ResidentOptedOutFault">
        <wsdl:part element="tns:ResidentOptedOutException" name="ResidentOptedOutException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="uploadDocumentResponse">
        <wsdl:part element="tns:uploadDocumentResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ResidentNotFoundFault">
        <wsdl:part element="tns:ResidentNotFoundException" name="ResidentNotFoundException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganizationNotFoundException">
        <wsdl:part element="tns:OrganizationNotFoundException" name="OrganizationNotFoundException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DocumentSharePolicyViolation">
        <wsdl:part element="tns:DocumentSharePolicyViolation" name="DocumentSharePolicyViolation"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DocumentsUploadEndpoint">
        <wsdl:operation name="uploadDocument">
            <wsdl:input message="tns:uploadDocument" name="uploadDocument"></wsdl:input>
            <wsdl:output message="tns:uploadDocumentResponse" name="uploadDocumentResponse"></wsdl:output>
            <wsdl:fault message="tns:ResidentNotFoundFault" name="ResidentNotFoundFault"></wsdl:fault>
            <wsdl:fault message="tns:OrganizationNotFoundException" name="OrganizationNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:DocumentSharePolicyViolation" name="DocumentSharePolicyViolation"></wsdl:fault>
            <wsdl:fault message="tns:ResidentOptedOutFault" name="ResidentOptedOutFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DocumentsUploadEndpointImplServiceSoapBinding" type="tns:DocumentsUploadEndpoint">
        <wsp:PolicyReference URI="#ExchangeWSPolicy_UT"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="uploadDocument">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="uploadDocument">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="uploadDocumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResidentNotFoundFault">
                <soap:fault name="ResidentNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="OrganizationNotFoundException">
                <soap:fault name="OrganizationNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DocumentSharePolicyViolation">
                <soap:fault name="DocumentSharePolicyViolation" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ResidentOptedOutFault">
                <soap:fault name="ResidentOptedOutFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DocumentsUploadEndpointImplService">
        <wsdl:port binding="tns:DocumentsUploadEndpointImplServiceSoapBinding" name="DocumentsUploadEndpointImplPort">
            <soap:address location="PROTOCOL://HOST:PORT/exchange/ws/documentsUpload"/>
        </wsdl:port>
    </wsdl:service>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="ExchangeWSPolicy_UT">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>